{% extends 'app/index.html.twig' %}

{% block title %}Task {{ task.title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('home') }}">Home</a></span>
    </li>
    <li class="breadcrumb-item">
        <span><a href="{{ path('work.projects') }}">Projects</a></span>
    </li>

    <li class="breadcrumb-item">
        <span>
            <a href="{{ path('work.projects.project', {id: project.id}) }}">{{ project.name }}</a>
        </span>
    </li>

    <li class="breadcrumb-item">
        <span>
            <a href="{{ path('work.projects.project.tasks', {id: project.id}) }}">Tasks</a>
        </span>
    </li>

    <li class="breadcrumb-item active"><span>{{ task.title }}</span></li>
{% endblock %}

{% block content %}
    <h3>
        {% if(task.parent) %}
            <a href="{{ path('work.projects.tasks.show', {id: task.parent.id}) }}">{{ task.parent.title }}</a> /
        {% endif %}
        {{ task.title }}
    </h3>
    {% set canPerformActions = is_granted(actionsGranted, task) %}

    {% if canPerformActions %}
    <div class="actions mt-3">
        {% if(task.hasExecutorById(app.user.id) == false and task.isNew) %}
            <form
                    action="{{ path('work.projects.tasks.takeandstart', {id: task.id}) }}"
                    class="d-inline-block"
                    method="post">
                <input type="hidden" name="token" value="{{ csrf_token('takeandstart') }}"/>
                <button type="submit" class="btn btn-success text-white">Take and start</button>
            </form>
        {% else %}
            {% if task.hasExecutorById(app.user.id) == false %}
                <form
                        action="{{ path('work.projects.tasks.take', {id: task.id}) }}"
                        class="d-inline-block"
                        method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('take') }}"/>
                    <button type="submit" class="btn btn-success text-white">Take</button>
                </form>
            {% endif %}
            {% if task.isNew %}
                <form
                        action="{{ path('work.projects.tasks.start', {id: task.id}) }}"
                        class="d-inline-block"
                        method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('start') }}"/>
                    <button type="submit" class="btn btn-success text-white">Start</button>
                </form>
            {% endif %}
        {% endif %}

        <a href="{{ path('work.projects.tasks.assign', {id: task.id}) }}" class="btn btn-info text-white">Assign</a>
        <a href="{{ path('work.projects.project.tasks.create', {id: project.id, parent: task.id}) }}" class="btn btn-info text-white">Add Sub Task</a>
        <a href="{{ path('work.projects.tasks.edit', {id: task.id}) }}" class="btn btn-info text-white">Edit</a>

        <button class="btn btn-info dropdown-toggle text-white" type="button" data-coreui-toggle="dropdown" aria-expanded="false">More...</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('work.projects.tasks.move', {id: task.id}) }}">Move To Project</a></li>
            <li><a class="dropdown-item" href="{{ path('work.projects.tasks.parent.set', {id: task.id}) }}">Set Child Of</a></li>
            <li>
                <form
                        action="{{ path('work.projects.tasks.delete', {id: task.id}) }}"
                        method="post"
                        onsubmit="return confirm('Are you sure you want to delete task?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                    <button type="submit" class="dropdown-item">Delete</button>
                </form>
            </li>
        </ul>
    </div>
    {% endif %}

    {% if subtasks %}
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        Subtasks
                        {% if canPerformActions %}
                            <a href="{{ path('work.projects.project.tasks.create', {id: project.id, parent: task.id}) }}" class="text-black">
                                <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-plus') }}"></use></svg>
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered mb-0">
                            <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>Date</th>
                                <th>Project</th>
                                <th>Name</th>
                                <th>Type</th>
                                <td><svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-fire') }}"></use></svg></td>
                                <th>Executor</th>
                                <th>Status</th>
                                <th>Progress</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in subtasks %}
                                <tr class="align-middle">
                                    <td>{{ task.date }}</td>
                                    <td><a href="{{ path('work.projects.project', {id: task.project_id}) }}">{{ task.project }}</a></td>
                                    <td><a href="{{ path('work.projects.tasks.show', {id: task.id}) }}">{{ task.title }}</a></td>
                                    <td>{{ task_type(task.type) }}</td>
                                    <td>{{ task_priority(task.priority) }}</td>
                                    <td>{{ task_executors(task.executors) }}</td>
                                    <td>{{ task_status(task.status) }}</td>
                                    <td>{{ task_progress(task.progress) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Task</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <th>Id</th>
                                <td colspan="3">{{ task.id }}</td>
                            </tr>
                            <tr>
                                <th>Create date</th>
                                <td>{{ task.date|date('d-m-Y H:i:s') }}</td>
                                <th>Plan date</th>
                                <td class="d-flex justify-content-between">
                                    {% if task.planDate is not null %}
                                        {{ task.planDate|date('d-m-Y') }}
                                    {% endif %}
                                    {% if canPerformActions %}
                                    <div class="d-flex">
                                        <a href="{{ path('work.projects.tasks.plan.edit', {id: task.id}) }}" class="text-black me-1">
                                            <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-pencil') }}"></use></svg>
                                        </a>
                                        {% if task.planDate is not null %}
                                            <div>
                                                <form
                                                        action="{{ path('work.projects.tasks.plan.remove', {id: task.id}) }}"
                                                        method="post"
                                                        onsubmit="return confirm('Are you sure you want to delete plan date?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                                    <button type="submit" class="text-black p-0 border-0 bg-transparent">
                                                        <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-delete') }}"></use></svg>
                                                    </button>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>
                                    {{ form_start(forms.typeForm) }}
                                    {{ form_widget(forms.typeForm.type) }}
                                    {{ form_end(forms.typeForm) }}
                                </td>
                                <th>Status</th>
                                <td>
                                    {{ form_start(forms.statusForm) }}
                                    {{ form_widget(forms.statusForm.status) }}
                                    {{ form_end(forms.statusForm) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Priority</th>
                                <td>
                                    {{ form_start(forms.priorityForm) }}
                                    {{ form_widget(forms.priorityForm.priority) }}
                                    {{ form_end(forms.priorityForm) }}
                                </td>
                                <th>Progress</th>
                                <td>
                                    {{ form_start(forms.progressForm) }}
                                    {{ form_widget(forms.progressForm.progress) }}
                                    {{ form_end(forms.progressForm) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-3 card p-3">
                {{ task.content }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Author</div>
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img src="{{ gravatar(task.author.email) }}" class="avatar-sm avatar-img" alt="Author">
                        <a href="{{ path('work.members.show', {id: task.author.id}) }}" class="ms-1 text-sm-start link-info text-decoration-none">{{ task.author.fullName }}</a>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header d-flex justify-content-between">
                    Executors
                    {% if canPerformActions %}
                        <a href="{{ path('work.projects.tasks.assign', {id: task.id}) }}" class="text-black">
                            <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-plus') }}"></use></svg>
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% for executor in task.executors %}
                        <div class="d-flex align-items-center justify-content-between {% if not loop.last %} mb-2{% endif %}">
                            <div class="d-flex align-items-center">
                                <img src="{{ gravatar(executor.email) }}" class="avatar-sm avatar-img" alt="{{ executor.fullName }}">
                                <a href="{{ path('work.members.show', {id: executor.id}) }}" class="ms-1 text-sm-start link-info text-decoration-none">{{ executor.fullName }}</a>
                            </div>
                            {% if canPerformActions %}
                                <div>
                                    <form
                                            action="{{ path('work.projects.tasks.revoke', {id: task.id, executorId: executor.id}) }}"
                                            method="post"
                                            onsubmit="return confirm('Are you sure you want to delete executor?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="token" value="{{ csrf_token('revoke') }}"/>
                                        <button type="submit" class="text-black p-0 border-0 bg-transparent">
                                            <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-x') }}"></use></svg>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px"></div>
{% endblock %}