{% extends 'app/index.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('home') }}">Home</a></span>
    </li>
    <li class="breadcrumb-item">
        <span><a href="{{ path('work.projects') }}">Projects</a></span>
    </li>

    {% if project is not null %}
        <li class="breadcrumb-item">
            <span><a href="{{ path('work.projects.project', {id: project.id}) }}">{{ project.name }}</a></span>
        </li>
    {% endif %}

    <li class="breadcrumb-item active"><span>Tasks</span></li>
{% endblock %}

{% block content %}
    {% if project is not null %}
        {% set menu = knp_menu_get('work_project', [], {project_id: project.id}) %}
        {{ knp_menu_render(menu, {currentClass: 'active'}) }}

        <div class="actions">
            <a href="{{ path('work.projects.project.tasks.create', {id: project.id}) }}" class="btn btn-success text-white">Create</a>
        </div>
    {% else %}
        {{ knp_menu_render('work_projects', {currentClass: 'active'}) }}
    {% endif %}

    <div class="card all-users mt-3">
        <div class="card-body">
            <div class="filter mb-3">
                {{ form_start(form) }}
                {{ form_widget(form.search) }}
                {{ form_widget(form.type) }}
                {{ form_widget(form.status) }}
                {{ form_widget(form.priority) }}
                {{ form_widget(form.executor) }}
                <input type="submit" class="btn btn-success text-white" value="Search">
                <a href="{{ path('work.projects.tasks') }}" class="btn btn-outline-secondary">Clear</a>
                {{ form_end(form) }}
            </div>
            <div class="presets">
                {% include 'app/work/projects/tasks/_presets.html.twig' %}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead class="table-light fw-semibold">
                        <tr class="align-middle">
                            <th>{{ knp_pagination_sortable(tasks, 'ID', 'id') }}</th>
                            <th>{{ knp_pagination_sortable(tasks, 'Date', 'date') }}</th>
                            <th>{{ knp_pagination_sortable(tasks, 'Author', 'author') }}</th>
                            {% if project is null %}
                                <th>{{ knp_pagination_sortable(tasks, 'Project', 'project') }}</th>
                            {% endif %}
                            <th>{{ knp_pagination_sortable(tasks, 'Name', 'title') }}</th>
                            <th>{{ knp_pagination_sortable(tasks, 'Type', 'type') }}</th>
                            <td>{{ knp_pagination_sortable(tasks, '<svg class="icon"><use xlink:href="{{ asset(\'build/coreui/icons/svg/free.svg#cil-fire\') }}"></use></svg>', 'priority', {'encode': false}) }}</td>
                            <th>Executors</th>
                            <th>{{ knp_pagination_sortable(tasks, 'Plan', 'plan_date') }}</th>
                            <th>{{ knp_pagination_sortable(tasks, 'Status', 'status') }}</th>
                            <th>{{ knp_pagination_sortable(tasks, 'Progress', 'progress') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr class="align-middle">
                            <td>{{ task.id }}</td>
                            <td>{{ task.date }}</td>
                            <td>{{ task.author }}</td>
                            {% if project is null %}
                                <td><a href="{{ path('work.projects.project', {id: task.project_id}) }}">{{ task.project }}</a></td>
                            {% endif %}
                            <td>{% if task.parent %}» {% endif %}<a href="{{ path('work.projects.tasks.show', {id: task.id}) }}">{{ task.title }}</a></td>
                            <td>{{ task_type(task.type) }}</td>
                            <td>{{ task_priority(task.priority) }}</td>
                            <td>{{ task_executors(task.executors) }}</td>
                            <td>{{ task.plan_date }}</td>
                            <td>{{ task_status(task.status) }}</td>
                            <td>{{ task_progress(task.progress) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation mt-3">
                    {{ knp_pagination_render(tasks) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}