{% extends 'app/index.html.twig' %}

{% block title %}Move member{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('home') }}">Home</a></span>
    </li>
    <li class="breadcrumb-item">
        <span><a href="{{ path('work.members.members') }}">Members</a></span>
    </li>
    <li class="breadcrumb-item">
        <span><a href="{{ path('work.members.members.show', {id: member.id}) }}">{{ member.fullName }}</a></span>
    </li>
    <li class="breadcrumb-item active"><span>Moving</span></li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">Move {{ member.fullName }}</div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="input-group mb-3">
                    {{ form_widget(form.group, {'attr': {'placeholder': 'Group'}}) }}
                </div>
                <button class="btn btn-block btn-info text-white" type="submit">Move</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}