{% extends 'app/index.html.twig' %}

{% block title %}Create member{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('home') }}">Home</a></span>
    </li>
    <li class="breadcrumb-item">
        <span><a href="{{ path('work.members') }}">Members</a></span>
    </li>
    <li class="breadcrumb-item active"><span>Create</span></li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">Create new member</div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="input-group mb-3">
                    {{ form_widget(form.firstName, {'attr': {'placeholder': 'First name'}}) }}
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.lastName, {'attr': {'placeholder': 'Last name'}}) }}
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.group, {'attr': {'placeholder': 'Group'}}) }}
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail'}}) }}
                </div>
                <button class="btn btn-block btn-info text-white" type="submit">Create</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}