{% extends 'app/index.html.twig' %}

{% block title %}Email change{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('home') }}">Home</a></span>
    </li>
    <li class="breadcrumb-item">
        <span><a href="{{ path('profile') }}">Profile</a></span>
    </li>
    <li class="breadcrumb-item active"><span>Name</span></li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">Name change</div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-user') }}"></use></svg>
                </span>
                {{ form_widget(form.newFirstName, {'attr': {'placeholder': 'First name'}}) }}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-user') }}"></use></svg>
                </span>
                {{ form_widget(form.newLastName, {'attr': {'placeholder': 'Last name'}}) }}
            </div>
            <button class="btn btn-block btn-primary" type="submit">Update name</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}