{% extends 'app/index.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('home') }}">Home</a></span>
    </li>
    <li class="breadcrumb-item">
        <span><a href="{{ path('users') }}">Users</a></span>
    </li>
    <li class="breadcrumb-item active"><span>{{ user.name }}</span></li>
{% endblock %}

{% block content %}

    <div class="actions mb-3">
        <a href="{{ path('users.edit', {id: user.id}) }}" class="btn-info btn text-white">Edit</a>
        {% if user.id != app.user.id %}
            <a href="{{ path('users.change.role', {id: user.id}) }}" class="btn-info btn text-white">Change role</a>
        {% endif %}

        {% if user.wait %}
            <form action="{{ path('users.confirm', {id: user.id}) }}"
                  method="post"
                  class="d-inline"
                  onsubmit="return confirm('Are you sure to confirm this user?')">
                <button type="submit" class="btn btn-info text-white">Confirm</button>
                <input type="hidden" name="token" value="{{ csrf_token('confirm') }}"/>
            </form>
        {% endif %}

        {% if user.active and user.id != app.user.id %}
            <form action="{{ path('users.block', {id: user.id}) }}"
                  method="post"
                  class="d-inline"
                  onsubmit="return confirm('Are you sure to block this user?')">
                <button type="submit" class="btn btn-danger text-white">Block</button>
                <input type="hidden" name="token" value="{{ csrf_token('block') }}"/>
            </form>
        {% endif %}

        {% if user.blocked %}
            <form action="{{ path('users.activate', {id: user.id}) }}"
                  method="post"
                  class="d-inline"
                  onsubmit="return confirm('Are you sure to active this user?')">
                <button type="submit" class="btn btn-success text-white">Activate</button>
                <input type="hidden" name="token" value="{{ csrf_token('activate') }}"/>
            </form>
        {% endif %}

        {% if is_granted('ROLE_WORK_MEMBERS_MANAGE') %}
            {% if member %}
                <a class="btn btn-info text-white" href="{{ path('work.members.members.show', {id: member.id}) }}">View member</a>
            {%  else %}
                <a class="btn btn-info text-white" href="{{ path('work.members.members.create', {id: user.id}) }}">Create member</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="card">
        <div class="card-header">Profile</div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Created</th>
                        <td>{{ user.date.format('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>
                            <span>{{ user.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>
                            <span>{{ user.email }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>{{ user_role(user.role) }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ user_status(user.status) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">Networks</div>
        <div class="card-body">
            {% if user.networks %}
                <table class="table table-bordered">
                    <tbody>
                    {% for network in user.networks %}
                        <tr>
                            <td>{{ network.network }}</td>
                            <td>{{ network.identity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}