{% extends 'auth.html.twig' %}

{% block card %}
    <div class="card p-4 mb-0">
        <div class="card-body">
            <h1>Login</h1>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('auth.logout') }}">Logout</a>
                    </div>
                {% endif %}

                <p class="text-medium-emphasis">Sign In to your account</p>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-user') }}"></use></svg>
                    </span>
                    <input class="form-control" value="{{ last_username }}" name="email" type="text" placeholder="E-mail" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <svg class="icon">
                            <use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-lock-locked') }}"></use>
                        </svg></span>
                    <input class="form-control" type="password" placeholder="Password" name="password" required>
                </div>

                <div class="form-check mb-4">
                    <label class="form-check-label">
                        <input class="form-check-input" name="_remember_me" type="checkbox"> Remember me
                    </label>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary px-4" type="submit">Login</button>
                        <a href="{{ path('auth.signup') }}" class="btn btn-secondary">Sign up</a>
                    </div>
                    <div class="col-6 text-end">
                        <a href="{{ path('auth.reset') }}" class="px-0">Forgot password?</a>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <hr>
                <div class="row">
                    <div class="col-6">
                        <a href="{{ path('auth.facebook.start') }}" class="btn btn-primary facebook-button">
                            <svg class="icon me-2">
                                <use xlink:href="{{ asset('build/coreui/icons/svg/brand.svg#cib-facebook') }}"></use>
                            </svg>Facebook
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
