{% extends 'app/index.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('home') }}">Home</a></span>
    </li>
    <li class="breadcrumb-item active"><span>Profile</span></li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">Profile</div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ detail.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Created</th>
                        <td>{{ detail.date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>
                            <span>{{ detail.email }}</span>
                            <a class="btn btn-outline-info btn-small-icon" href="{{ path('profile.email') }}">
                                <svg class="icon">
                                    <use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-pen') }}"></use>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>{{ user_role(detail.role) }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ user_status(detail.status) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">Networks</div>
        <div class="card-body">
            {% if detail.networks %}
                <table class="table table-bordered">
                    <tbody>
                    {% for network in detail.networks %}
                        <tr>
                            <th scope="row">{{ network.network }}</th>
                            <td class="d-flex justify-content-between">
                                <span>{{ network.identity }}</span>
                                <a class="btn btn-danger text-white btn-small-icon"
                                   href="{{ path('profile.auth.facebook.detach', {'network': 'facebook'}) }}"
                                   onclick="return confirm('Are you sure you want to delete Facebook network?')">
                                    <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-delete') }}"></use></svg>
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <a href="{{ path('profile.auth.facebook') }}" class="btn btn-primary facebook-button">
                <svg class="icon me-2">
                    <use xlink:href="{{ asset('build/coreui/icons/svg/brand.svg#cib-facebook') }}"></use>
                </svg>Facebook
            </a>
        </div>
    </div>
{% endblock %}